{% load i18n %}


                            <form method="post" action="" id="contact-form" class="mt-4">

                                {% csrf_token %}

                                <h1>{% trans 'Contact Us' %}</h1>
                                {{ contactform.subject.label }}
                                {{ contactform.subject }}
                                {{ contactform.message.label }}
                                {{ contactform.message }}
                                <button type="submit" name="login" class="btn btn-block btn-primary">{% trans 'Send' %}</button>
                            </form>
                            <div id="alert" style="display:none;"></div>
