
Sehr geehrter Damen und Herren,
<p>
Sie haben bei uns einen neuen Vertrag abgeschlossen. Die von ihnen bestätigten Vertragsdokumente wie AGB, Datenschutzerklärung und Widerrufserklärung haben wir ihnen in diese E-Mail angefügt.
    </p>


    <div class="row d-flex justify-content-center my-4">
        Hier die Vertragsdetails:
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Adresse</h5>
          </div>
          <div class="card-body">
            <!-- Single item -->
            <div class="row">
              <div >
                  <div>
Vorname: {{firstname}}
                      </div>
                  <div>
                  Nachname: {{lastname}}
                      </div>
                  <div>
                  Straße: {{address}} {{number}}
                      </div>
                      <div>
                  PLZ: {{zip}}
                          </div>
                          <div>
                  Stadt: {{city}}
                              </div>
              </div>




            </div>

          </div>
        </div>

          <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Product Data</h5>
          </div>
          <div class="card-body">
            <!-- Single item -->
            <div class="row">
              <div >
Geschätzter Verbrauch: {{expected_consumption}}
                  </div>
                  <div >
                  Produkttitel: {{products.title}}
              </div>
<div >
                  Produktsubtitel: {{products.subtitle}}
              </div>
                <div >
                  Produktbeschreibung: {{products.description}}
              </div>
                <div >
                  Arbeitspreis: {{products.arbeitspreis}}
              </div>
                <div >
                  Basisspreis: {{products.basisprice}}
              </div>
                <div >
                  Vertragslaufzeit: {{products.vertragslaufzeit}}
              </div>
                <div >
                  Kündigungsfrist: {{products.kuendigungsfrist}}
              </div>



            </div>

          </div>
        </div>
          <div>
        Login Daten in den geschützen Bereich:
</div>
              <div>
          URL: {{url}}

          </div>
              <div>
          Username: {{username}}

        </div>
              <div>
          Password: {{password}}
</div>


      </div>

    </div>

