{% extends base_template %}
{% load static %}
{% load i18n %}
{% block title %} Settings {% endblock %}

{% block content %}

<div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
<form action="{% url 'profile' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
                <div class="row mb-5 gx-5">
                    <!-- Contact detail -->
                    <div class="col-xxl-8 mb-5 mb-xxl-0">
                        <div class="bg-secondary-soft px-4 py-5 rounded">
                            <div class="row g-3">
                                <h4 class="mb-4 mt-0">{% trans 'Contact detail' %}</h4>
                                <div class="col-md-6">

                                    {{ profileform.gender.label }}
                                    {{ profileform.gender }}
                                </div>
                                <!-- First Name -->
                                <div class="col-md-6">

                                    {{ profileform.first_name.label }}
                                    {{ profileform.first_name }}
                                </div>
                                <!-- Last name -->
                                <div class="col-md-6">
                                    {{ profileform.last_name.label }}
                                    {{ profileform.last_name }}

                                </div>
                                <!-- Phone number -->
                                <div class="col-md-6">
                                    {{ profileform.phone.label }}
                                    {{ profileform.phone }}

                                </div>
                                <!-- Mobile number -->
                                <div class="col-md-6">
                                    {{ profileform.mobile_number.label }}
                                    {{ profileform.mobile_number }}
                                </div>
                                <!-- Email -->
                                <div class="col-md-6">
                                    {{ profileform.email.label }}
                                    {{ profileform.email }}

                                </div>
                                <!-- Skype -->
                                <div class="col-md-6">


                                    {{ profileform.skype.label }}
                                    {{ profileform.skype }}
                                </div>
                                <div class="col-md-6">


                                    {{ profileform.birthday.label }}
                                    {{ profileform.birthday }}
                                </div>
                                <div class="col-md-6">


                                    {{ profileform.address.label }}
                                    {{ profileform.address }}
                                </div>
                                <div class="col-md-6">


                                    {{ profileform.number.label }}
                                    {{ profileform.number }}
                                </div>
                                <div class="col-md-6">


                                    {{ profileform.zip.label }}
                                    {{ profileform.zip }}
                                </div>
                                <div class="col-md-6">


                                    {{ profileform.city.label }}
                                    {{ profileform.city }}
                                </div>
                            </div> <!-- Row END -->
                        </div>
                    </div>
                    <!-- Upload profile -->
                    <div class="col-xxl-4">
                        <div class="bg-secondary-soft px-4 py-5 rounded">
                            <div class="row g-3">
                                <h4 class="mb-4 mt-0">{% trans 'Upload your profile photo' %}</h4>
                                <div class="text-center">
                                    <!-- Image upload -->
                                    <div class="square position-relative display-2 mb-3">

                                        {% if user.profile.image %}
                                        <img class="w-8 h-8 md:h-auto rounded-full mx-auto"
                             src="{{ user.profile.image.url }}">
                                        {% else %}
                                        <i class="fas fa-fw fa-user position-absolute top-50 start-50 translate-middle text-secondary"></i>
                                        {% endif %}
                                    </div>
                                    <!-- Button -->







        {{ profileform.image }}




                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- Row END -->

                <!-- Social media detail -->
                <div class="row mb-5 gx-5">
                    <div class="col-xxl-6 mb-5 mb-xxl-0">
                        <div class="bg-secondary-soft px-4 py-5 rounded">
                            <div class="row">
                                <h4 >{% trans 'Social media detail' %}</h4>
                                <!-- Facebook -->
                                <div class="col-md-6">


                                    <label class="form-label"><i class="fab fa-fw fa-facebook me-2 text-facebook"></i>Facebook
                                        *</label>
                                    {{ profileform.facebook }}
                                </div>
                                <!-- Twitter -->
                                <div class="col-md-6">
                                    <label class="form-label"><i class="fab fa-fw fa-twitter text-twitter me-2"></i>Twitter
                                        *</label>
                                    {{ profileform.twitter }}
                                </div>
                                <!-- Linkedin -->
                                <div class="col-md-6">
                                    <label class="form-label"><i
                                            class="fab fa-fw fa-linkedin-in text-linkedin me-2"></i>Linkedin *</label>
                                    {{ profileform.linkedin }}
                                </div>
                                <!-- Instragram -->
                                <div class="col-md-6">
                                    <label class="form-label"><i class="fab fa-fw fa-instagram text-instagram me-2"></i>Instagram
                                        *</label>
                                    {{ profileform.instagram }}
                                </div>
                                <!-- Dribble -->
                                <div class="col-md-6">
                                    <label class="form-label"><i
                                            class="fas fa-fw fa-basketball-ball text-dribbble me-2"></i>Dribble
                                        *</label>
                                    {{ profileform.dribble }}
                                </div>
                                <!-- Pinterest -->
                                <div class="col-md-6">
                                    <label class="form-label"><i class="fab fa-fw fa-pinterest text-pinterest"></i>Pinterest
                                        *</label>
                                    {{ profileform.pinterest }}
                                </div>
                            </div> <!-- Row END -->
                        </div>
                    </div>

                    <!-- change password -->
                    <div class="col-xxl-6">
                        <div class="bg-secondary-soft px-4 py-5 rounded">
                            <div class="row">
                                <h4 class="my-4">{% trans 'Change Password' %}</h4>

                                <!-- New password -->
                                <div class="col-md-12">
                                    <label for="exampleInputPassword2"  class="form-label">{% trans 'New password' %} *</label>
                                    <input type="password" class="form-control" name="passwort_1" id="exampleInputPassword2">
                                </div>
                                <!-- Confirm password -->
                                <div class="col-md-12">
                                    <label for="exampleInputPassword3"  class="form-label">{% trans 'Confirm Password' %} *</label>
                                    <input type="password" class="form-control" name="passwort_2" id="exampleInputPassword3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- Row END -->
                <!-- button -->
                <div class="gap-3 d-md-flex justify-content-md-end text-center">

                    <button type="submit" class="btn btn-primary btn-lg">{% trans 'Update profile' %}</button>
                </div>
            </form> <!-- Form END -->
                      <div class="col-xxl-6 mb-5 mb-xxl-0">
                        <div class="card card-bodyshadow-sm mb-4">
                            <div class="bg-secondary-soft px-4 py-5 rounded" >

                                </div>
                            </div>
              </div>
  </div>

              </div>
              </div>
</div>
{% endblock %}

