{% extends 'normaltemplate/base.html' %}
{% load static %}
{% load i18n %}
{% block title %} Settings {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block extrastyles %}

<style>
    #content-body { color: #000; }
    .img-account-profile {
  height: 10rem;
  width: 10rem;
}
.rounded-circle {
  border-radius: 50% !important;
}



</style>

{% endblock %}


{% block content %}

<div id="content-body" class="col-12 col-md-9 col-xl-12 pl-4 pr-4 bd-content">
    <form action="{% url 'profile' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12 pt-4 mt-3"><h2>{% trans 'My Profile' %}</h2></div>
        </div>
        <div class="row mt-3 db-chart">

            <div class="col-12">

                <hr class="mt-0 mb-4">
                <div class="row">
                    <div class="col-xl-4">
                        <!-- Profile picture card-->
                        <div class="card mb-4 mb-xl-0">
                            <div class="card-header">Profile Picture</div>
                            <div class="card-body text-center">
                                {% if user.profile.image %}
                                <!-- Profile picture image-->
                                <img class="img-account-profile rounded-circle mb-2"
                                     src="{{ user.profile.image.url }}" alt="">
                                {% else %}
                                <i class="fas fa-fw fa-user position-absolute top-50 start-50 translate-middle text-secondary"></i>
                                {% endif %}
                                <!-- Profile picture help block-->
                                <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                                <!-- Profile picture upload button-->
                                {{ profileform.image }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <!-- Account details card-->
                        <div class="card mb-4">
                            <div class="card-header">{% trans 'Account Details' %}</div>
                            <div class="card-body">


                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (first name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1">{{ profileform.first_name.label }}</label>
                                        {{ profileform.first_name }}
                                    </div>
                                    <!-- Form Group (last name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1">{{ profileform.last_name.label }}</label>
                                        {{ profileform.last_name }}
                                    </div>
                                </div>
                                <!-- Form Row        -->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (organization name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1">{{ profileform.address.label }}</label>
                                        {{ profileform.address }}
                                    </div>
                                    <!-- Form Group (location)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1"> {{ profileform.number.label }}</label>
                                        {{ profileform.number }}
                                    </div>
                                </div>


                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (organization name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1">{{ profileform.zip.label }}</label>
                                        {{ profileform.zip }}
                                    </div>
                                    <!-- Form Group (location)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1"> {{ profileform.city.label }}</label>
                                        {{ profileform.city }}
                                    </div>
                                </div>


                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (phone number)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1">{{ profileform.email.label }}</label>
                                        {{ profileform.email }}
                                    </div>

                                    <div class="col-md-6">
                                        <label class="small mb-1">{{ profileform.gender.label }}</label>
                                        {{ profileform.gender }}
                                    </div>
                                </div>


                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (phone number)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1">{{ profileform.mobile_number.label }}</label>
                                        {{ profileform.mobile_number }}
                                    </div>
                                    <!-- Form Group (birthday)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1">{{ profileform.phone.label }}</label>
                                        {{ profileform.phone }}
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (first name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1">{{ profileform.skype.label }}</label>
                                        {{ profileform.skype }}
                                    </div>
                                    <!-- Form Group (last name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1">{{ profileform.birthday.label }}</label>
                                        {{ profileform.birthday }}
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xl-4">

                    </div>
                    <div class="col-xl-8">
                        <!-- Account details card-->
                        <div class="card mb-4">
                            <div class="card-header">{% trans 'Social Media' %}</div>
                            <div class="card-body">

                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (first name)-->
                                    <div class="col-md-6">
                                        <label class="form-label"><i
                                                class="fab fa-fw fa-facebook me-2 text-facebook"></i>Facebook
                                        </label>
                                        {{ profileform.facebook }}
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label"><i class="fab fa-fw fa-twitter text-twitter me-2"></i>Twitter
                                        </label>
                                        {{ profileform.twitter }}
                                    </div>


                                </div>

                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (first name)-->
                                    <div class="col-md-6">
                                        <label class="form-label"><i
                                                class="fab fa-fw fa-linkedin-in text-linkedin me-2"></i>Linkedin
                                        </label>
                                        {{ profileform.linkedin }}
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label"><i
                                                class="fab fa-fw fa-instagram text-instagram me-2"></i>Instagram
                                        </label>
                                        {{ profileform.instagram }}
                                    </div>


                                </div>

                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (first name)-->
                                    <div class="col-md-6">
                                        <label class="form-label"><i
                                                class="fas fa-fw fa-basketball-ball text-dribbble me-2"></i>Dribble
                                            *</label>
                                        {{ profileform.dribble }}
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label"><i class="fab fa-fw fa-pinterest text-pinterest"></i>Pinterest
                                            *</label>
                                        {{ profileform.pinterest }}
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xl-4">

                    </div>
                    <div class="col-xl-8">
                        <!-- Account details card-->
                        <div class="card mb-4">
                            <div class="card-header">{% trans 'Change Password' %}</div>
                            <div class="card-body">
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (first name)-->
                                    <div class="col-md-6">
                                        <label for="exampleInputPassword2" class="form-label">{% trans 'New password' %}
                                        </label>
                                        <input type="password" class="form-control" name="passwort_1"
                                               id="exampleInputPassword2">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="exampleInputPassword3" class="form-label">{% trans 'Confirm  Password' %}
                                        </label>
                                        <input type="password" class="form-control" name="passwort_2"
                                               id="exampleInputPassword3">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-4">

                    </div>
                    <div class="col-xl-8">
                    <div class="card mb-4">

                            <div class="card-body">
                                <button class="btn btn-primary" type="submit">{% trans 'Save changes' %}</button>
                                </div>
                        </div>
                        </div>
    </div>
            </div>
        </div>

    </form>
</div>


{% endblock %}
