{% extends base_template %}
{% load static %}
{% load i18n %}
{% block title %} Settings {% endblock %}

    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}
<style>
    body{margin-top:20px;
    color: #9b9ca1;
    }
    .bg-secondary-soft {
        background-color: rgba(208, 212, 217, 0.1) !important;
    }
    .rounded {
        border-radius: 5px !important;
    }
    .py-5 {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
    .px-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }
    .file-upload .square {
        height: 250px;
        width: 250px;
        margin: auto;
        vertical-align: middle;
        border: 1px solid #e5dfe4;
        background-color: #fff;
        border-radius: 5px;
    }
    .text-secondary {
        --bs-text-opacity: 1;
        color: rgba(208, 212, 217, 0.5) !important;
    }
    .btn-success-soft {
        color: #28a745;
        background-color: rgba(40, 167, 69, 0.1);
    }
    .btn-danger-soft {
        color: #dc3545;
        background-color: rgba(220, 53, 69, 0.1);
    }
    .form-control {
        display: block;
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.6;
        color: #29292e;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #e5dfe4;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 5px;
        -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    }
</style>
{% endblock stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
      integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous"/>

{% block content %}
{% include 'includes/navigation.html' %}
  <div class="">
    <div class="row">


        <div class="col-12">
            <!-- Page title -->
            <div class="my-5">
                <h3>{% trans 'My Profile' %}</h3>
                <hr>
            </div>
            <!-- Form START -->
             <form action="{% url 'profile' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
                <div class="row mb-5 gx-5">
                    <!-- Contact detail -->
                    <div class="col-xxl-8 mb-5 mb-xxl-0">
                        <div class="bg-secondary-soft px-4 py-5 rounded">
                            <div class="row g-3">
                                <h4 class="mb-4 mt-0">{% trans 'Contact detail' %}</h4>
                                <div class="col-md-6">

                                    {{ profileform.gender.label }}
                                    {{ profileform.gender }}
                                </div>
                                <!-- First Name -->
                                <div class="col-md-6">

                                    {{ profileform.first_name.label }}
                                    {{ profileform.first_name }}
                                </div>
                                <!-- Last name -->
                                <div class="col-md-6">
                                    {{ profileform.last_name.label }}
                                    {{ profileform.last_name }}

                                </div>
                                <!-- Phone number -->
                                <div class="col-md-6">
                                    {{ profileform.phone.label }}
                                    {{ profileform.phone }}

                                </div>
                                <!-- Mobile number -->
                                <div class="col-md-6">
                                    {{ profileform.mobile_number.label }}
                                    {{ profileform.mobile_number }}
                                </div>
                                <!-- Email -->
                                <div class="col-md-6">
                                    {{ profileform.email.label }}
                                    {{ profileform.email }}

                                </div>
                                <!-- Skype -->
                                <div class="col-md-6">


                                    {{ profileform.skype.label }}
                                    {{ profileform.skype }}
                                </div>
                                <div class="col-md-6">


                                    {{ profileform.birthday.label }}
                                    {{ profileform.birthday }}
                                </div>
                                <div class="col-md-6">


                                    {{ profileform.address.label }}
                                    {{ profileform.address }}
                                </div>
                                <div class="col-md-6">


                                    {{ profileform.number.label }}
                                    {{ profileform.number }}
                                </div>
                                <div class="col-md-6">


                                    {{ profileform.zip.label }}
                                    {{ profileform.zip }}
                                </div>
                                <div class="col-md-6">


                                    {{ profileform.city.label }}
                                    {{ profileform.city }}
                                </div>
                            </div> <!-- Row END -->
                        </div>
                    </div>
                    <!-- Upload profile -->
                    <div class="col-xxl-4">
                        <div class="bg-secondary-soft px-4 py-5 rounded">
                            <div class="row g-3">
                                <h4 class="mb-4 mt-0">{% trans 'Upload your profile photo' %}</h4>
                                <div class="text-center">
                                    <!-- Image upload -->
                                    <div class="square position-relative display-2 mb-3">

                                        {% if user.profile.image %}
                                        <img class="w-8 h-8 md:h-auto rounded-full mx-auto"
                             src="{{ user.profile.image.url }}">
                                        {% else %}
                                        <i class="fas fa-fw fa-user position-absolute top-50 start-50 translate-middle text-secondary"></i>
                                        {% endif %}
                                    </div>
                                    <!-- Button -->







        {{ profileform.image }}




                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- Row END -->

                <!-- Social media detail -->
                <div class="row mb-5 gx-5">
                    <div class="col-xxl-6 mb-5 mb-xxl-0">
                        <div class="bg-secondary-soft px-4 py-5 rounded">
                            <div class="row">
                                <h4 >{% trans 'Social media detail' %}</h4>
                                <!-- Facebook -->
                                <div class="col-md-6">


                                    <label class="form-label"><i class="fab fa-fw fa-facebook me-2 text-facebook"></i>Facebook
                                        *</label>
                                    {{ profileform.facebook }}
                                </div>
                                <!-- Twitter -->
                                <div class="col-md-6">
                                    <label class="form-label"><i class="fab fa-fw fa-twitter text-twitter me-2"></i>Twitter
                                        *</label>
                                    {{ profileform.twitter }}
                                </div>
                                <!-- Linkedin -->
                                <div class="col-md-6">
                                    <label class="form-label"><i
                                            class="fab fa-fw fa-linkedin-in text-linkedin me-2"></i>Linkedin *</label>
                                    {{ profileform.linkedin }}
                                </div>
                                <!-- Instragram -->
                                <div class="col-md-6">
                                    <label class="form-label"><i class="fab fa-fw fa-instagram text-instagram me-2"></i>Instagram
                                        *</label>
                                    {{ profileform.instagram }}
                                </div>
                                <!-- Dribble -->
                                <div class="col-md-6">
                                    <label class="form-label"><i
                                            class="fas fa-fw fa-basketball-ball text-dribbble me-2"></i>Dribble
                                        *</label>
                                    {{ profileform.dribble }}
                                </div>
                                <!-- Pinterest -->
                                <div class="col-md-6">
                                    <label class="form-label"><i class="fab fa-fw fa-pinterest text-pinterest"></i>Pinterest
                                        *</label>
                                    {{ profileform.pinterest }}
                                </div>
                            </div> <!-- Row END -->
                        </div>
                    </div>

                    <!-- change password -->
                    <div class="col-xxl-6">
                        <div class="bg-secondary-soft px-4 py-5 rounded">
                            <div class="row">
                                <h4 class="my-4">{% trans 'Change Password' %}</h4>

                                <!-- New password -->
                                <div class="col-md-12">
                                    <label for="exampleInputPassword2"  class="form-label">{% trans 'New password' %} *</label>
                                    <input type="password" class="form-control" name="passwort_1" id="exampleInputPassword2">
                                </div>
                                <!-- Confirm password -->
                                <div class="col-md-12">
                                    <label for="exampleInputPassword3"  class="form-label">{% trans 'Confirm Password' %} *</label>
                                    <input type="password" class="form-control" name="passwort_2" id="exampleInputPassword3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- Row END -->
                <!-- button -->
                <div class="gap-3 d-md-flex justify-content-md-end text-center">

                    <button type="submit" class="btn btn-primary btn-lg">{% trans 'Update profile' %}</button>
                </div>
            </form> <!-- Form END -->
        </div>
        <div class="col-12 mt-3">
                        <div class="card card-body bg-white border-light shadow-sm mb-4">
                            <form method="post" action="" id="contact-form" class="mt-4">

                                {% csrf_token %}

                                <h1>{% trans 'Contact Us' %}</h1>
                                {{ contactform.subject.label }}
                                {{ contactform.subject }}
                                {{ contactform.message.label }}
                                {{ contactform.message }}
                                <button type="submit" name="login" class="btn btn-block btn-primary">{% trans 'Send' %}</button>
                            </form>
                            <div id="alert" style="display:none;"></div>
                        </div>
                    </div>
</div>
              </div>

{% endblock %}
{% block javascripts %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(function() {
      $('#contact-form').on('submit', function(event) {

        event.preventDefault();
        $.ajax({
          url: '{% url "contact" %}',
          type: 'POST',
          data: $(this).serialize(),
          dataType: 'json',
          success: function(response) {
            if (response.success) {

              $('#contact-form').hide();
              $('#alert').html('<div class="alert alert-success">{% trans 'Thanks for message' %}</div>').show();
            } else {

              $('#alert').html('<div class="alert alert-danger">' + response.errors + '</div>').show();
            }
          }
        });
      });
    });
</script>

{% endblock javascripts %}